body {
    font-family: 'Marcellus', serif;
    background-image: url('./../img/background-paper.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: rgb(135, 138, 142);
    background-blend-mode: screen;
    margin: 0;
    padding: 0;
    border: 0;
}

.background {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: scroll;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

figure.logo {
    width: 250px;
}

figure.logo img {
    width: 200px;
    height: 100px;
    float: left;
}

figure.logo p {
    margin: 0;
    padding: 0;
    color: #d72b2b;
    font-size: 20px;
    text-align: right;
}

.attribute .value {
    font-size: 1.5em;
}

.info {
    font-size: 12px;
    width: 100%;
    max-width: 800px;
}

.info ul {
    display: flex;
    justify-content: end;
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: wrap;
    flex-direction: column;
  }

.info .header {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.5em;
}

.info .header,
.info li {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    margin: 10px;
}

.info .name {
    border-top: solid 1px #000;
}

.info .name,
.info .value {
    padding-left: 10px;
}

.attribute-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 70px;
    font-size: 12px;
    align-items: flex-start;
    max-width: 100vw;
    margin: 0 auto;
}

.attribute {
    font-size: 1em;
    height: 100%;
    padding-bottom: 0.5em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-image: url('./../img/attribute.svg');
    background-size: 100% 100%;
    width: 90px;
    margin: 10px;
}

@media(min-width: 400px) {
    .info {
        font-size: 14px;
    }

    .attribute-list {
        max-width: 400px;
    }
}

@media(min-width: 600px) {
    .info {
        font-size: 14px;
    }

    .info ul {
        flex-direction: row;
    }

    .attribute-list {
        max-width: 650px;
    }

    .attribute {
        margin: 40px;
    }
}

@media(max-width: 800px) {
    figure.logo {
        margin: 10px auto;
    }
}

@media(min-width: 800px) {
    header {
        flex-direction: row;
    }

    .attribute-list {
        max-width: 800px;
    }

    .attribute {
        margin: 20px;
    }
}

@media(min-width: 1200px) {
    .attribute-list {
        height: 100px;
        font-size: 16px;
        max-width: 800px;
    }

    .attribute {
        margin: 20px;
    }
}